################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/**
**/vs/**
**/obj/**
**/bin/**
**/.bin/**
*/.bin/**
**/.obj/**
**/.release/**
**/release/**
**/packages/**
**/*.zip
*.user
*.user.*
**/CobaltCore.dll
**/runtime/**